
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/whyus.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>admin</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="~/admin/user" class="w3-bar-item w3-button">Users Information</a>
        <a href="~/admin/price" class="w3-bar-item w3-button">Price Details</a>
        <a href="~/admin/admin" class="w3-bar-item w3-button">Messages</a>
        <a href="~/admin/whyus" class="w3-bar-item w3-button">Why Us</a>
        <a href="~/index/homepage" class="w3-bar-item w3-button">Home Page</a>
        <a href="~/admin/adminloginout" class="w3-bar-item w3-button">Sign Out</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%; margin-bottom:30px;">

        <div class="w3-container w3-teal">
            <h1>Admin Page</h1>
        </div>

        <div class="w3-container" style="margin-top:-30px;">
            <div class="whyus">
                @foreach (var x in Model)
                {
                    <div class="whyuscard"  style="padding-bottom:10px;">
                        <img src="~/images/@x.images" alt="John" style="width: 90%;height: 200px;padding-top: 10px;">
                        <br>
                        <h2>@x.baslik</h2>
                        <br>
                        <p>@x.aciklama</p>
                        <br>
                        <td>@Html.ActionLink("Update", "updatewhyus", "admin", new { id = @x.id }, null)</td>
                        <br>
                    </div>
                    <br />
                }
            </div>
            <br />
        </div>
        <br />
    </div>
    <br />
    <br />
</body>
</html>
