*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.navbar {
    width: 100%;
    height: 80px;
    padding: 15px;
    /* background-color:lightsteelblue; */
    background-color: #0d3b66;
    overflow: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .navbar img{
      width: 40px;
      height: 40px;
      float: left;
      margin-left: 20px;
      margin-right: 50px;
  }
  .navbar a {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    padding: 12px;
    /* color: black; */
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  .navbar a:hover {
    background-color: grey;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
.upload{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    width: 100%;
    height: 150px;
    background-color: #00adef;
}
    .upload input[type="file"] {
        display: none;
    }

    .upload #up1 {
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 25px;
        margin-top: 20px;
        margin-right: 40px;
        padding-top: 30px;
        padding-left: 25px;
        width: 450px;
        height: 100px;
        color: white;
    }

    .upload #up2 {
        margin-top: 45px;
        display: inline-block;
        width: 130px;
        height: 50px;
    }

.buton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yükle{
    width: 250px;
    height: 100px;
    border: none;
    color: red;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    font-family: Montserrat;
}
.uploadlist{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    width: 100%;
}
/* .uplist{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.tablolar{
    position: relative;
    margin: auto;
    padding: 15px;
    width: 100%;
    background-color: #cccbcb;
    color: black;
    border-radius: 5px;
}
.tablolar h2{
    margin-left: 180px;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-left: 170px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
}
  td{
    border: 2px solid #ddd;

  }
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #2174ba;
    color: white;
    border-top:  3px solid #ddd;

  }